body {
    font-family: "Arial", sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading h1 {
    font-weight: bold;
    text-align: center;
}

.calculator-section {
    max-width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
}

.user-input, form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.user-input-left-column, .user-input-right-column {
    flex: 1;
    padding: 0 10px;
}

.user-input label {
    font-weight: 500;
    margin-bottom: 8px; /* Adjust vertical margin */
    display: inline-block; /* Ensures label respects margin rules */
}

.user-input input, .user-input select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Default border color */
    border-radius: 4px;
}

.results {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.results-heading {
    display: none;
    text-align: center;
    border-top: 2px solid #d9d9d9;
    padding-top: 20px;
}

.results p {
    margin: 10px;
   
}

.leasing-right {
    border-left: 2px solid #d9d9d9 ;
    padding-left: 15px;
}

.invalid-input {
    background-color: #ffebeb;
    color: red;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }
  
    .user-input, form {
        flex-direction: column;
    }

    .results {
       flex-direction: column;
       margin-top: 20px;
    }

    .leasing-right {
        border-left: none ;
        padding-left: 0;
    }
  }